#home {
    position: relative;
    z-index: -10;
    height: 110vh;
    width: 100%;
}

.sign-up {
    position: relative;
    color: white;
    margin: auto;
    width: 75%;
    padding: 5px;
    text-align: center;
    background-color: rgba(29, 37, 45, 0.3);
}

.sign-up-title {
    position: relative;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 10pt;
    margin: 20px;
}

.email-blast {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    margin: 10px;
}

.send-me-deals, .indiegogo-button {
    position: relative;
    padding: 8px;
    border: solid 2px white;
    background-color:  rgba(29, 37, 45, 0.8);
    color:  rgb(241, 180, 52);
    margin: 10px;
    transition: all 1s;
}

.send-me-deals:hover, .indiegogo-button:hover {
    cursor: pointer;
    color: rgb(29, 37, 45);
    border-color: rgb(241, 180, 52);
    background-color: white;
}

.indiegogo-info {
    position: relative;
    width: 75%;
    margin: auto;
    background-color: rgba(29, 37, 45, 0.3);
    text-align: center;
    color: white;
}
.indiegogo-title, .indiegogo-button, .indiegogo-sub {
    font-family: 'Arial Narrow Bold', sans-serif;
    display: inline-block;
}

.indiegogo-title, .indiegogo-sub {
    margin: 10px;
    font-variant-caps: all-petite-caps;
    font-size: 15pt;
    text-align: center;
}